/* Login.css */

:root {
    --primary-color: #1e90ff; /* Bright blue */
    --secondary-color: #121212; /* Dark background */
    --background-color: #1e1e1e; /* Slightly lighter dark grey background */
    --button-hover-color: #1a76d2; /* Slightly darker blue for hover */
    --input-background-color: #2e2e2e; /* Dark grey for inputs */
    --input-border-color: #3a3a3a; /* Darker grey border for inputs */
    --link-color: #1e90ff; /* Link color */
    --error-color: #e74c3c; /* Red for errors */
    --text-color: #e0e0e0; /* Light grey text */
}

body {
    background-color: #1e1e1e; /* Slightly lighter dark grey background */
    color: #e0e0e0; /* Light grey text */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.form-container {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    margin: 10px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.heading1 {
    font-size: 18px;
    color: #aaaaaa;
    margin-bottom: 20px;
}

input {
    width: 95%;
    padding: 12px;
    /* margin-bottom: 15px; */
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    outline: none;
    background-color: var(--input-background-color);
    color: var(--text-color);
}

input::placeholder {
    color: #aaaaaa;
}

.btn-login {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--button-hover-color);
}

.google-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.google-button .g-btn {
    width: 100% !important;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid var(--input-border-color);
}

.signup-link {
    text-align: center;
    margin-top: 15px;
}

.signup-link a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 600;
}

.errorMessage {
    color: var(--error-color);
    font-weight: 500;
    margin: 10px 0;
}

@media screen and (max-width: 688px) {
    .login-container {
        flex-direction: column;
        padding: 20px;
    }

    .form-container {
        width: 100%;
    }

    .image-container {
        display: none;
    }
}
